body {
  background-image: linear-gradient(#edf4fa, #9bc7eb);
}
h1 {
  text-align: center;
  background: -webkit-linear-gradient(#224a5e, #2fd46b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
.box {
  width: 40%;
  height: 20%;
  position: relative;
  margin-left: 30%;
}
.box img{
  height: 100%;
  width: 100%;
}
#myBox {
  height: 20%;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 49%;
  animation: rotate1 10s linear;
  transform-origin: left;
}
#myBox2 {
  height: 20%;
  width: 33%;
  position: absolute;
  top: 40%;
  left: 49%;
  animation: rotate2 10s linear;
  transform-origin: left;
}
@keyframes rotate1 {
  100% {transform: rotate(30deg);}
}
@keyframes rotate2 {
  100% {transform: rotate(360deg);}
}
